# Author: Mike
# Created: 6/20
# Edit: N/A

<footer>
	<p>Design by Mag&iexcl;C</p>
	<a class="github" href="https://github.com/cse3901-osu-2018su/MAG-C-Project-4-Static-Web-Design">Github</a>
	<a class="email" href="">Email us</a>
</footer>