.lab_overview {
  height: 26em;
  display: inline-block;
}
.lab_overview h1{
  margin-top: 0px;
}
.lab_overview img{
  top:4em;
  left: 6%;
  width: 30%;
  position: absolute;
}

.lab_overview > p{
  left:40%;
  position:absolute;
  width: 52%;
  top: 5em;
}

.lab_overview .guild_list{
  position:absolute;
  top: 14em;
  left: 6%;
  width: 88%;
  display: block;
}

.people h1{
  margin-bottom: 1em;
}
.select_list {
  list-style-type: none;
  height: 35em;
  width: 90%;
  position: relative;
  text-align: center;
  left: 6%;
  margin:0;
  padding: 0;
}

.select_list  label,
.select_list  h2 {
  font-size: 1.2em;
  width: 30%;
  height: 7em;
  line-height: 7em;
}

.navtab > label,
.navtab > h2 {
  font-size: 1.1em;
  height: 3em;
  line-height: 3em;
}

.select_list  h2, .navtab > h2 {
  position: relative;
  margin: 0;
  text-align: center;
  background-color: #ae190e;
  color: white;
}

.select_list > label, .navtab > label {
  position: absolute;
  z-index: 1;
}

.select_list > label {
  border-bottom: 1px solid #fff;
}

.navtab > label {
  border-right: 1px solid #fff;
}

.select_list input, .navtab input {
  position: absolute;
  top: 0;
  opacity: 0;
}

.select_list .button:hover,.select_list .button:focus,.active{
    background-color: #6d0f09;
    font-weight: 1200;
}


.select_list span:after {
  content: '\00bb';
  position: relative;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.select_list input:hover + h2 span{
  padding-right: 25px;
}

.select_list input:hover + h2 span:after {
  opacity: 1;
  right: 0;
  z-index: 10;
}

.select_list input:checked + h2,.navtab input:checked + h2  {
  background: #6d0f09;
}

.select_list input:checked + h2 + div.student_info , .navtab input:checked + h2 + div{
    position: static;
    padding: 1em;
    height: auto;
    width: auto;
}
.navtab input + h2 + div, .select_list  input + h2 + div.student_info  {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 ;
  border:0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.select_list input:checked + h2 + div.student_info  {
    width: 60%;
    float: right;
}
.select_list >input,
.select_list >label,
.select_list > h2,
.navtab > input,
.navtab > label ~label ,
.navtab > h2 ~h2{
  position: absolute;
  top: 0;
}

.select_list label:nth-child(1),
.select_list h2:nth-child(3) {
  top: 0em;
  left:0em;
}

.select_list label:nth-child(5),
.select_list h2:nth-child(7) {
  top: 7em;
  left:0em;
}

.select_list label:nth-child(9),
.select_list h2:nth-child(11) {
  top:14em;
  left:0em;
}

.select_list label:nth-child(13),
.select_list h2:nth-child(15) {
  top:21em;
  left:0em;
}
.select_list label:hover,.navtab label:hover  {
  cursor: pointer;
}
.select_list input:focus, .navtab input:focus{
  outline: none;
}


.navtab {
  position: relative;
  background: #ae190e;
  left: 6%;
  width:90%;
  margin: 2em 0;
}

.navtab img{
  float: left;
  width: 22%;
  display: inline ;
  position: relative;
  margin: 1em;
}

.project3 p:last-of-type{
  top:1em;
  position: relative;
}


.navtab label:nth-child(1),
.navtab h2:nth-child(3) {
  left: 0%;
  width: 31%;
}

.navtab label:nth-child(5),
.navtab h2:nth-child(7) {
  left: 31%;
  width: 38%;
}

.navtab label:nth-child(9),
.navtab h2:nth-child(11) {
  left: 69%;
  width: 31%;
}


.navtab > div {
  background: #f0f0f0;
  padding: 1em;
}


.navtab input:checked + h2:after {
  content: '';
  margin: auto;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #6d0f09;
}


@media screen and (max-width: 45em) {

  .navtab label,
  .navtab input {
    display: none;
  }

  /* reveal all panels */
  .navtab > input + h2 + div {
    display: block;
    position: static;
    padding: 1em;
    height: auto;
    width: auto;
  }

  .navtab h2 {
    width: auto;
    position: static;
    background: #ae190e ;
  }

  .navtab h2:after {
    display: none;
  }

}
