body {
    margin: 0;
    padding: 0;
}
/*
body {
  background-color: #fbc547;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 18vh 1rem;
  text-align: center;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}
*/

.navbar {
  // spacing for sitenav since it's out of the flow (pos fixed)
  margin-bottom: 39px;
}

// formatting navigation bar (ul)
#sitenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  overflow: auto;
  width: 100%;
  top: 0;
  background-color: #333;
  li {
    float: left;
    //display: inline;
    a {
      color: white;
      //background-color: #333;
      text-align: center;
      padding: 10px 20px;
      display: block;
      text-decoration: none;
    }
    a:hover {
      background-color: #111;
      border-bottom-width: 1px solid red;
    }
  }

  // Dropdown options for lab in navbar
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown:hover .dropdown-content{
    display: block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #111;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
}



#footer{
  height: 150px;
  width: 100%;
  background-color: #333;
  p {
    color: white;
    padding: 50px;
  }
}
/*
.navbar::after:first-child {
  clear:left
}
*/
/*
.middleman-logo {
  margin-bottom: 1rem;
  width: 10rem;
}
*/
