
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "No Frontmatter" %></title>
    <base target="_top">
  	<link rel="stylesheet" href="stylesheets/site.css" />
  	<link rel="stylesheet" href="stylesheets/navigation.css" />
  	<link rel="stylesheet" href="stylesheets/footer.css" />

  	<link rel="stylesheet" href="stylesheets/index.css" />
    <link rel="stylesheet" href="stylesheets/lab.css" />
    <link rel="stylesheet" href="stylesheets/contact.css" />
    <link rel="stylesheet" href="stylesheets/publication.css" />
    <link rel="stylesheet" href="stylesheets/awards.css" />
    <link rel="stylesheet" href="stylesheets/fontawesome-5.1.0/css/all.css" />

  </head>
  <body>
    <%= partial "navigation" %>
    <div class="content-container">
    <%= yield %>
    </div>
    <%= partial "footer" %>
  </body>
</html>
