<!-- Author: Mike -->
<!-- Created: 6/20 -->
<!-- Edit: 6/24 Gail used asset helper to send emails. -->
<!-- Edit: 6/25 Channing added jump to top of page. -->
<!-- Description: The footer shows the webpage is designed by the team MAGiC and allows the users to reach the team via email.-->

<footer>
	<p>Design by MAG&iexcl;C <%= mail_to 'osu.magic.team@gmail.com', 'Email us'%></p>
</footer>
