<!-- Author: Mike -->
<!-- Created: 6/20 -->
<!-- Edit: 6/24 Gail used asset helper to send emails. -->

<footer>
	<p>Design by Mag&iexcl;C <%= mail_to 'osu.magic.team@gmail.com', 'Email us'%></p>
</footer>
