<div class="navbar">
  <ul id="sitenav">
    <li><a href="#1">Home</a></li>
    <li><a href="#2">Publications</a></li>
    <li><a href="#3">Awards</a></li>
    <li><a href="#4">Lab</a></li>
    <li><a href="#5">Contact</a></li>
  </ul>
</div>
