<div class="navbar">
  <ul id="sitenav">
    <li><a href="home.html">Home</a></li>
    <li><a href="publication.html">Publications</a></li>
    <li><a href="#3">Awards</a></li>
    <li><a href="lab.html">Lab</a></li>
    <li><a href="contact.html">Contact</a></li>
  </ul>
</div>
