<div class="navbar">
  <ul id="sitenav">
    <li><a href="home.html">Home</a></li>
    <li><a href="publication.html">Publications</a></li>
    <li><a href="awards.html">Awards</a></li>
    <li class="dropdown">
      <a href="lab.html">Lab</a>
      <div class="dropdown-content">
        <a href="lab.html#overview">Overview</a>
        <a href="lab.html#people">People</a>
        <a href="lab.html#projects">Projects</a>
      </div>
    </li>
    <li><a href="contact.html">Contact</a></li>
  </ul>
</div>
