<div class="navbar">
  <ul id="sitenav">
    <li><a href="#1">Home</a></li>
    <li><a href="#2">Publications</a></li>
    <li><a href="awards.html">Awards</a></li>
    <li class="dropdown">
      <a href="#4">Lab</a>
      <div class="dropdown-content">
        <a href="#4.1">Overview</a>
        <a href="4.2">People</a>
        <a href="4.3">Featured Projects</a>
      </div>
    </li>
    <li><a href="#5">Contact</a></li>
  </ul>
</div>
