---
title: Awards
---

<h1>Awards and Accomplishments</h1>
<div>
  <h4>Revision Path Interview (2014)</h4>
  <p>RevisionPath highlights young, black leaders in technology. In September 2014, Dr. Stewart was highlighted. Joining a list of acclaimed technologists, e.g., Frederick Townes (founder of Mashable) and Kevin Johnson (CEO of Johnson Media).</p>
</div>
<div>
  <h4>NSF CAREER Award (2014)</h4>
  <p>As Internet services scale out their energy and carbon footprints increase.  Unfortunately, to keep energy costs low, datacenters are often located in places with cheap but dirty energy sources---excacerbating carbon footprints.  Our idea, Greening as a Service, uses renewable energy credits or carbon offsets to eliminate carbon footprints for only users that explicitly request clean-powered service.  Datagreening.com is one of our first prototypes of a greening service (for email).</p>
</div>
<div>
  <h4>Best Paper, IEEE Interational Symposium on Modeling, Analysis, and Simulation of Computer and Telecomunication Systems (MASCOTS 2010)</h4>
  <p>Entomodel: Understanding and Avoding Performance Bugs uncovered emergent behaviors of common performance bugs.  The conference steering committee awarded it best paper from 127 submissions.</p>
</div>
<div>
  <h4>Third Best Paper, IEEE International Symposium on Sustainable Systems & Technologies (ISSST 2011)</h4>
  <p>Concentrating Renewable Energy in Grid-Tied Datacenters described an approach assign electric joules to specific applications in a datacenter, especially joules created by on-site solar panels or wind turbines.  This paper won third best.</p>
</div>
<div>
  <h4>Co-Chair, Workshop on Diversity in Systems Research, 2013</h4>
  <p>The Workshop on Diversity in Systems Research is a mentoring activity for students persuing a PhD in systems research, especially women and minorities.  Many of the world's most prominent researchers speak at Diversity every year.  I was honored to be the first externally chosen chair for this workshop.</p>
</div>
<!-- No <p> element -->
<div>
  <h4>Provost Fellowship, University of Rochester, 2003</h4>
</div>
<div>
  <h4>President's Scholarship, Morehouse College, 1999</h4>
</div>
<!-- Links with data -->
<div>
  <h4>April 2016</h4>
  <p> Our Infocom 2016 paper was given the Best-In-Session Presentation Award.</p>
  <a href="">[more]</a>
</div>
<div>
  <h4>March 2016</h4>
  <p> PhD Candidate Jaimie Kelley won the 2016 CSE Research Competition, a department-wide competition between all active PhD and master students. Congrats, Jaimie!</p>
  <a href="">[more]</a>
</div>
<div>
  <h4>September 2014</h4>
  <p>Dr. Stewart was interviewed for RevisionPath, a forum that highlights young, black leaders</p>
  <a href="">[more]</a>
</div>
<div>
    <h4>January 2014</h4>
    <p>Datagreening.com is now Beta mode and open to the public.</p>
    <a href="">[more]</a>
</div>
<div>
    <h4>January 2014</h4>
    <p>Dr. Stewart was awarded the NSF CAREER Award for his research on greening services.</p>
    <a href="">[more]</a>
</div>
<div>
    <h4>June 2013</h4>
    <p>Dr. Stewart was award an NSF CSR Grant for his research performance dependable key-value stores, especially those supporting rapidly growing data.</p>
    <a href="">[more]</a>
</div>
<div>
    <h4>April 2013</h4>
    <p>The ReRout lab is the Ohio State host to FIONA, an outreach project for middle school girls interested in computer science. NCWIT awarded the grant for this program.</p>
    <a href="">[more]</a>
</div>
<div>
    <h4>March 2013</h4>
    <p>I am on the program committee for USENIX ICAC</p>
    <a href="">[more]</a>
</div>
<div>
    <h4>March 2013</h4>
    <p>I am on the program committee for IWQoS 2013</p>
    <a href="">[more]</a>
</div>
<div>
    <h4>March 2013</h4>
    <p> I was selected to attend the NSF Career Workshop at Temple University</p>
    <a href="">[more]</a>
</div>
<div>
    <h4>November 2013</h4>
    <p>Dr. Stewart served (with Vishakha Gupta) as the first ever externally selected chair of the Workshop on Diversity in Systems Research. It was truly an honor to be selected and to serve this community.</p>
    <a href="">[more]</a>
</div>
<div>
    <h4>August 2013</h4>
    <p>We hosted an outreach event that pitted 8th graders against our research-prototype QA system. Next up FIONA! :)</p>
    <a href="">[more]</a>
</div>
<div>
    <h4>June 2012</h4>
    <p>Dr. Stewart was award an NSF EAGER grant for work on renewable-powered datacenters.</p>
    <a href="">[more]</a>
</div>
<div>
    <h4>May 2012</h4>
    <p> In a large west coast tour, I introduced Zoolander to researchers at VMWare, Google, Microsoft, and Pacific Northewest National Labs. Thanks to JD, Arif, Jian, and Rean for hosting me.</p>
    <a href="">[more]</a>
</div>
<div>
    <h4>January 2012</h4>
    <p>I am the editor for the IEEE Sustainable Computing Register. I am interested in ensuring that we can sustain today's computing systems for future generations. If you are too, join the STC.</p>
    <a href="">[more]</a>
</div>
<div>
    <h4>January 2012</h4>
    <p> I will serve on the program committee for GreenMetrics 2012</p>
    <a href="">[more]</a>
</div>
<div>
    <h4>July 2011</h4>
    <p>I will serve on the program committee for Sigmetrics 2012</p>
    <a href="">[more]</a>
</div>
<div>
    <h4>May 2011</h4>
    <p>Nan Deng received third best paper award at ISSST in Chicago.</p>
    <a href="">[more]</a>
</div>
<div>
    <h4>October 2010</h4>
    <p>Nan Deng will present our poster at OSDI. The title is Tracking and Exploiting Renewable Energy in Grid-Tied Datacenters. This poster later turned into an award paper at ISSST.</p>
    <a href="">[more]</a>
</div>
<div>
    <h4>September 2010</h4>
    <p> I mentored 2 fantastic undergraduate students over the summer as a part of the DREU program. Click to learn more about their work on renewable-energy datacenters.</p>
    <a href="">[more]</a>
</div>
<div>
    <h4>August 2010</h4>
    <p>Nominated for the best paper award at MASCOTS 2010 for my work on performance anomalies.</p>
    <a href="">[more]</a>
</div>
<div>
    <h4>August 2010</h4>
    <p>My paper, EntomoModel: Understanding and Avoiding Performance Anomaly Manifestations, won the Best Paper Award at MASCOTS 2010.</p>
    <a href="">[more]</a>
</div>
<div>
    <h4>July 2010</h4>
    <p>Panel member for the Summer Research Opportunities Program (SROP) hosted by the CIC.</p>
    <a href="">[more]</a>
</div>
<div>
    <h4>March 2010</h4>
    <p> I will serve on the GreenMetrics 2010 program committee. Please submit.</p>
    <a href="">[more]</a>
</div>
<div>
    <h4>January 2010</h4>
    <p>I will speak at Indiana University-Purdue University Indianapolis in April.</p>
    <a href="">[more]</a>
</div>
<div>
    <h4>January 2010</h4>
    <p>Invited talk in February at TU Dresden.</p>
    <a href="">[more]</a>
</div>
<div>
    <h4>August 2010</h4>
    <p>I am on the program committee for DSN 2011.</p>
    <a href="">[more]</a>
</div>
<div>
    <h4>December 2009</h4>
    <p>My group has been awarded an Amazon Web Services equipment grant!</p>
    <a href="">[more]</a>
</div>
<div>
    <h4>December 2009</h4>
    <p>I served as a reviewer on an NSF Panel.</p>
    <a href="">[more]</a>
</div>
<div>
    <h4>October 2009</h4>
    <p> I spoke about time management at DIVERSITY, a workshop co-located with SOSP.</p>
    <a href="">[more]</a>
</div>
<div>
    <h4>October 2009</h4>
    <p>I have been invited to an NSF panel.</p>
    <a href="">[more]</a>
</div>
<div>
    <h4>September 2009</h4>
    <p>On September 25, we will (re-)initiate The Ohio State systems group meetings. This weekly meeting will cover topics that broadly interest systems faculty and graduate students, including practice talks for conferences and jobs, new research ideas, and reports from recent conference trips. Contact Srini, Radu, or myself for more information.</p>
    <a href="">[more]</a>
</div>
<div>
    <h4>September 2009</h4>
    <p>I represented the systems group during graduate student orientation.</p>
    <a href="">[more]</a>
</div>
<div>
    <h4>August 2009</h4>
    <p>My ongoing work about managing datacenter workloads to get the most from renewable energy was accepted by HotPower 2009.</p>
    <a href="">[more]</a>
</div>
<div>
    <h4>August 2009</h4>
    <p>I will be on the program committee for ICPP 2010.</p>
    <a href="">[more]</a>
</div>
<div>
    <h4>August 2009</h4>
    <p>I will be an invited panelist at the SOSP Diversity Workshop. I will speak about time management for graduate students.</p>
    <a href="">[more]</a>
</div>
<div>
    <h4>July 2009</h4>
    <p>I will be on the program committee for DSN 2010.</p>
    <a href="">[more]</a>
</div>
<div>
    <h4>July 2009</h4>
    <p>My new website at The Ohio State University is now public. Thanks for visiting.</p>
    <a href="">[more]</a>
</div>
