---
title: Awards
---
<% require_relative "../lib/award.rb" %>
<% awards = Marshal.load File.read("data/awards_data") %>

<div id="awards_heading">
  <h1>Awards and Accomplishments</h1>
  <hr>
</div>

<div id="awards_container">
<% awards.each do |award| %>
  <div class="award_content">
    <h4><%= award.title %></h4>
    <p><%= award.description %></p>
    <% if (award.link.size != 0) %>
      <%= link_to("[info]","#{award.link}", class: "link") %>
    <% end %>
    <hr>
  </div>
<% end %>
</div>
