---
title: Contact Information
---

<!-- Author: Gail Chen
Created: 6/20
Edit: Gail 6/21 centered contents and aligned texts.
Description: Contact information page with contact information, photos and links to personal pages. -->

<div class="center" id="professional-info">
	<!-- Contact Information -->
	<h1>Contact Information</h1>
	<ul>
		<li>Email: cstewart@cse.ohio-state.edu</li>
		<li>Office: RM793</li>
		<li>Office phone: (614) 292-7325</li>
		<li>Department of Computer Science and Engineering<br/>
				The Ohio State University<br/>
				395 Dreese Lab<br/></li>
	</ul>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3056.2756581058616!2d-83.01805838495038!3d40.00228978866487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88388e96667ad0bf%3A0xa2545e3761fd783c!2s2015+Neil+Ave%2C+Columbus%2C+OH+43210!5e0!3m2!1sen!2sus!4v1529622614085" width="550" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
	<h1> Press Photos </h1>
	<p>The following photos are in the public domain and may be used freely.</p>

	<!-- Thumbnail Slider -->
	<div class="content" id="photos">
		<div class="outer">
			<div class="container">
				<div class="slider">
					<input type="radio" name="slide_switch" id="id1" checked/>
					<label for="id1">
	    		<img src="images/cstewart.2018.jpg" title="Professional image for web content (Low Quality 141 x 98)"/>
	    	</label>
					<img class="object-fit_contain" class="inner" src="images/cstewart.2018.jpg" title="Professional image for web content (Low Quality 141 x 98)" />

					<input type="radio" name="slide_switch" id="id2" />
					<label for="id2">
	    		<img src="images/ohiopic2.jpg" title="Professional image for print (Higher quality 389 x 569)"/>
	    	</label>
					<img class="object-fit_contain" src="images/ohiopic2.jpg" title="Professional image for print (Higher quality 389 x 569)" />

					<input type="radio" name="slide_switch" id="id3" />
					<label for="id3">
	    		<img src="images/chris1-lores.jpg" title="Casual image for web content (Quality)"/>
	    	</label>
					<img class="object-fit_contain" src="images/chris1-lores.jpg" title="Casual image for web content (Quality)" />

					<input type="radio" name="slide_switch" id="id4" />
					<label for="id4">
	    		<img src="images/chris1-crop.jpg" title="Casual image for print (High quality 1789 x 2190)"/>
	    	</label>
					<img class="object-fit_contain" src="images/chris1-crop.jpg" title="Casual image for print (High quality 1789 x 2190)" />

					<input type="radio" name="slide_switch" id="id5" />
					<label for="id5">
	    		<img src="images/rerout-bw.jpg" title="ReRout Lab Logo in black and white"/>
	    	</label>
					<img class="object-fit_contain" src="images/rerout-bw.jpg" title="ReRout Lab Logo in black and white" />

					<input type="radio" name="slide_switch" id="id6" />
					<label for="id6">
	    		<img src="images/rerout-sg.jpg" title="ReRout Lab logo in scarlet and grey"/>
	    	</label>
					<img class="object-fit_contain" src="images/rerout-sg.jpg" title="ReRout Lab logo in scarlet and grey" />
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Links to personal pages -->
<div class="content" id="info-links">
	<p>
		<a href="https://plus.google.com/u/0/+ChristopherStewartPhD">Google+ <img src="images/google+.png" /></a> |
		<a href="https://scholar.google.com/citations?user=iYgWtREAAAAJ&hl=en">Google Scholar <img src="images/scholar.png" /></a> |
		<a href="https://www.facebook.com/christopher.charles.stewart">Facebook <img src="images/facebook.png" /></a> |
		<a href="../data/cstewart.cv.pdf">Curriculum Vitae (out of date)</a>
	</p>
</div>
